<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create People</title>
    <style>
body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: 0px;
    border-radius: 24px;
    text-align: center;
}

button {
    border: 0px;
    color: #fff;
    width: 5%;
    transition: transform 0.5s ease-in-out;
    margin: 10px;
    padding: 10px;
}

button:hover {
    transform: scale(1.2);
}
    </style>
</head>
<body>
    <center>
        <h1>Deseja Deletar a pessoa {{ pessoa.nome }}?</h1>
        <a href="{% url 'apagar_pessoa' pessoa.id %}?delete_key=KASDJLAKSDJLKASJDLASJDLKAJSKDJALKSJDKLAJ"><button style="background-color: green;">Sim</button></a>
        <a href="{% url 'listar_pessoas' %}"><button style="background-color: red;">Não</button></a>
    </center>
</body>
</html>