<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create People</title>
    <style>
body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: 0px;
    border-radius: 24px;
    text-align: center;
}
    </style>
</head>
<body>
    <center>
        <h1>Edite uma pessoa</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Atualizar</button>
        </form>
    </center>
</body>
</html>